In [2]:
#import all the necessary libraries
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [4]:
#read csv file
data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/dataset.csv")

In [7]:
print(data.head(5)) #read out the first few rows only (top 5 ones)

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [8]:
data.isnull()

        Text  language
0      False     False
1      False     False
2      False     False
3      False     False
4      False     False
...      ...       ...
21995  False     False
21996  False     False
21997  False     False
21998  False     False
21999  False     False

[22000 rows x 2 columns]

In [9]:
data.isnull().sum() #skip rows with missing values in the datset, so this counts the total number of empty rows in the dataset

Text        0
language    0
dtype: int64

In [10]:
data["language"] #checking how many languages are present in the dataset

0        Estonian
1         Swedish
2            Thai
3           Tamil
4           Dutch
           ...
21995      French
21996        Thai
21997     Spanish
21998     Chinese
21999    Romanian
Name: language, Length: 22000, dtype: object

In [11]:
data["language"].value_counts() #checking the total number of languages present in the dataset

Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: language, dtype: int64

In [12]:
#creating numpy arrays of each data type
x = np.array(data["Text"])
y = np.array(data["language"])

In [13]:
#creating a ML model on Multinomial Bayes Native Classifier to train the language detection model and split data into traing and test data sets
cv = CountVectorizer()
X = cv.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,random_state=42)

model = MultinomialNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.953168044077135

In [15]:
user = input("Enter a Text: ")  
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter a Text: देखकर अच्छा लगता है
['Hindi']